.reveal h1 {
  font-size: 24pt;
  margin: 20pt;
  margin-top: 0pt;
  padding: 10px;
  background-color: rgba(200,235,255,1.0);
}

.reveal .title {
  font-size:40pt;
}

.reveal h2 {
  font-size: 22pt;
}

.reveal li {
  font-size:18pt;
  color: rgba(0,0,0,0.9);
  padding:10px;
  line-height:110%;
}

.reveal li:hover{
  color: rgba(0,0,0,1);
  background-color: rgba(100,170,255,0.2);
}

.reveal .colHalf {
  float: left;
  width: 48%;
}

.reveal .colLast {
  float: left;
  background-color:green;
  width: 48%;
}

.reveal section figure { 
    z-index:0;
    background: rgba(0,0,0,0);
    margin: 0px 20px;
    border: 5px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    height:600px;
}

.reveal section cite {
    text-align:left;
    background-color:green;
}

.reveal code{
    border-radius:10px;
    padding:5px;
    background-color:rgb(50,50,50);
}

.reveal pre code{
    max-height:800px;
    font-size:18pt;
    line-height:110%;
    padding:5px;
}