
.reveal #timing-and-hippocampal-information-processing h1 {
    font-size:32pt;
    font-variant:small-caps;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    width: 50%;
    color:white;
    text-shadow: 1px 1px 1px black;
    font-family: 'Open Sans', sans-serif;
}

.reveal #timing-and-hippocampal-information-processing ul{
    margin-left: 25%;
    margin-right: 25%;
    width:50%;
    color:white;
}

.reveal #timing-and-hippocampal-information-processing ul li {
    font-size:32pt;
    font-variant:small-caps;
    list-style-type: none;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-family: 'Open Sans', sans-serif;
}


.reveal #timing-and-hippocampal-information-processing{


}